#main{
    border-style: solid;
    border-width: 10px;
    width: auto;
    height: 100px;
} 
#title{
    font-size: 50px;
    color: rgb(85, 191, 64);
    align-self: center;
    border-style: solid;
    border-width: 10px
}
